/*  --------------- Box Sizing -----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  --------------- Utility Classes -----------------  */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.main-content {
  flex: 2;
  max-width: 600px;
  padding: 1rem;
}

.sidebar {
  flex: 1;
  max-width: 600px;
  padding: 1rem;
}

/*  --------------- Global Styles -----------------  */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff2d8;
  color: #bca37f;
  text-shadow: 1px 1px 1px #ead7bb;
}

header {
  background-color: #bca37f;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23ead7bb' fill-opacity='0.25' fill-rule='evenodd'/%3E%3C/svg%3E");
  padding: 0.5rem;
  text-align: center;
  color: #fff2d8;
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #ead7bb;
  padding: 0.5rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #ead7bb;
}

nav a {
  color: #fff2d8;
  background-color: #bca37f;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border-radius: 5px;
  transition: 0.5s;
  width: 20%;
  text-align: center;
  font-size: 1.25rem;
}

nav a:hover {
  background-color: #fff2d8;
  color: #bca37f;
  box-shadow: 3px 3px 5px #bca37f;
}

.main-content img,
video {
  max-width: 100%;
  height: auto;
  max-height: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 20px #bca37f;
  border: 5px solid #bca37f;
}

.main-content figcaption {
  text-align: center;
}

.main-content h2 {
  text-align: center;
  text-transform: uppercase;
}

.sidebar h3 {
  text-transform: uppercase;
  border-left: 5px solid #bca37f;
  padding-left: 5px;
}

.art-piece {
  width: 100%;
  max-width: 400px;
  margin: 1rem;
}

.art-description {
  text-align: center;
  margin-top: 0.5rem;
}

.website {
  width: 100%;
  max-width: 400px;
  margin: 1rem;
}

.website img {
  width: 100%;
  height: auto;
  display: block;
}

.website h3,
.website p {
  text-align: center;
}

.website a {
  display: block;
  color: #fff2d8;
  background-color: #bca37f;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border-radius: 5px;
  transition: 0.5s;
  text-align: center;
  font-size: 1.25rem;
  border: 5px solid #bca37f;
}

.website a:hover {
  background-color: #fff2d8;
  color: #bca37f;
  border: 5px solid #bca37f;
  box-shadow: 3px 3px 5px #bca37f;
}

.email-button,
.social-media {
  width: 100%;
  max-width: 400px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social-media a {
  display: block;
  color: #fff2d8;
  background-color: #bca37f;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0.25rem;
  border-radius: 5px;
  transition: 0.5s;
  text-align: center;
  font-size: 1.25rem;
  border: 5px solid #bca37f;
}

.social-media a:hover {
  background-color: #fff2d8;
  color: #bca37f;
  border: 5px solid #bca37f;
  box-shadow: 3px 3px 5px #bca37f;
}

.social-media i {
  margin-right: 0.25rem;
}

/*  --------------- Media Queries -----------------  */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .main-content,
  .sidebar {
    flex: 1;
    max-width: none;
  }

  .website {
    max-width: none;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 0.5rem 0;
    width: 80%;
    max-width: 400px;
  }
}
